* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 300px;
  height: 250px;
  overflow: hidden;
  user-select: none;
}

.pp_container {
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
  position: relative;
  overflow: hidden;
}

.check {
  opacity: .5;
}

/* Slide_1 */
.pp_slide_1 .pp_element_1 {
  top: 0px;
  left: 0px;
}

.pp_slide_1 .pp_element_2 {
  top: 62px;
  left: 56px;
}

.pp_logo {

  top: 8px;
  left: 203px;
  z-index: 99;
}

.pp_slide_1 .pp_element_3 {
  top: 202px;
  left: 94px;
}


/* slide_2 */
.pp_slide_2 .pp_element_1 {
  top: 0px;
  left: 0px;
}

.pp_slide_2 .pp_element_2 {
  top: 125px;
  left: 32px;
}

.pp_slide_2 .pp_element_3 {
  top: 103px;
  left: 139px;
}

.pp_slide_2 .pp_element_4 {
  top: 132px;
  left: 186px;
}

.pp_slide_2 .pp_element_5 {
  top: 175px;
  left: 130px;
  height: 33px;
  width: 22px;
  background-color: #aaaaff00;
  opacity: .9;
}

.pp_slide_2 .pp_element_6 {
  top: 164px;
  left: 80px;
  height: 35px;
  width: 120px;
  background-color: #ec1e28;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.pp_slide_2 .pp_element_7 {
  top: 120px;
  left: 80px;
  height: 35px;
  width: 120px;
  background-color: #ec1e28;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  padding: 3px;font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.material-icons{
  padding: 1px;
}
/* Utility class */
.pp_absolute {
  position: absolute;
}

.pp_hidden {
  display: none;
}

.pp_zeroOpacity {
  opacity: 0;
}